/* --------------- Portfolio pg --------------- */

.blog-hed {

    .caption{

        h1{
            font-size: 55px;
        }
    }
}

.blog-mp{

    .bord{
        position: relative;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            border-left: 1px solid rgba(255,255,255,.1);
        }
    }

    .item{
        margin-bottom: 50px;

        .info{

            .author-img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .author-info,
            .date{
                font-size: 13px;
                text-transform: uppercase;

                span{
                    display: block;
                    line-height: 22px;
                }
            }

            .author-info{

                .sub-color{
                    text-transform: capitalize !important;
                }
            }
        }

        .img{
            border-radius: 15px;
            height: 255px;
            overflow: hidden;
        }
    }

    .main-blog{

        .item{
            margin-bottom: 0;

            .img{
                height: 350px;
            }
        }
    }
}

.post-header{

    .caption{

        .tags{

            a{
                padding: 7px 20px;
                border: 1px solid rgba(255, 255, 255, .1);
                border-radius: 30px;

                &:hover{
                    background: #fff;
                    color: #1d1d1d !important;
                }
            }
        }
    }

	.bg-img{
        height: 75vh;
        min-height: 480px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;

        .row{
            position: absolute;
            bottom: 30px;
            left: 30px;
            z-index: 4;
        }
    }
}

.main-post{

    .spec-letter{
        font-size: 60px;
        line-height: 50px;
        padding-right: 10px;
        float: left;
    }

	.post-qoute{
		position: relative;
		padding: 40px;
		padding-left: 120px;
		border: 1px solid rgba(255,255,255,.15);

		h6{
			position: relative;

			&:before{
				content: '“';
				position: absolute;
				top: 80px;
				left: -100px;
				font-size: 180px;
				line-height: 0;
			}
		}

        .author{
            font-size: 14px;
            color: $main-color;
        }
	}

	.iner-img{
		height: 400px;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.unorder-list,
	.order-list{

		li{
			margin-top: 10px;
			opacity: .7;
			padding-left: 15px;
			position: relative;

			&:before{
				content: '';
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: #ccc;
				position: absolute;
				left: 0;
				top: 10px;
			}
		}
	}

	.order-list{

		li{
			padding-left: 0;

			&:before{
				display: none;
			}

			span{
				font-size: 13px;
			}
		}
	}

	.info-area{

		.tags,
		.share-icon{

			span{
				font-size: 14px;
				margin-right: 5px;
				opacity: .7;
			}

			a{
				padding: 7px 20px;
				font-size: 13px;
				background: rgba(255,255,255,.02);
				border-radius: 30px;
				margin-right: 5px;
				transition: all .4s;

				&:hover{
					background: $main_color;
					color: #1d1d1d;
				}
			}
		}

		.share-icon{

			a{
				width: 35px;
				height: 35px;
				line-height: 35px;
				font-size: 11px;
				text-align: center;
				padding: 0;
			}
		}
	}

	.author-area{
		padding: 40px;
		background: rgba(255,255,255,.02);
		backdrop-filter: blur(2px);

		.author-img{

			.img{
				width: 100px;
				height: 100px;
				border-radius: 10px;
				overflow: hidden;
			}
		}
	}

	.next-prv-post{

		.thumb-post{
			width: 100%;
			padding: 40px;
			position: relative;
			overflow: hidden;
			z-index: 2;

			&:after{
				content: '';
				background: $theme-color;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 1px solid rgba(255,255,255,.1);
				z-index: -1;
				opacity: .7;
				transition: all .4s;
			}

			&:first-of-type{
				margin-right: 15px;
			}

			&:last-of-type{
				margin-left: 15px;
			}
		}
	}
}

.comments-post{

	.item-box{
		position: relative;

		p{
			font-size: 14px;
			width: 80%;
		}

		&.replayed{
			margin-left: 30px;
		}

		.replay-butn{
			position: absolute;
			top: 15px;
			right: 15px;

			a{
				font-size: 13px;
				padding: 8px 20px;
				border: 1px solid rgba(255,255,255,.2);
				border-radius: 30px;
				transition: all .4s;

				&:hover{
					background: $main-color;
					color: #1d1d1d;
				}
			}
		}
	}
}

.comments-from{

	input,
    textarea{
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgba(255,255,255,.2);
        border-radius: 0;
        background: transparent;
        color: #fff;
        padding: 15px 0;
        transition: all .4s;

        &:focus{
            border-color: #fff;
        }
    }

    textarea{
        min-height: 180px;
    }

    button{
        padding: 15px 35px;
        width: 100%;
        background: #fff;
		backdrop-filter: blur(2px);
        color: #1d1d1d;
        text-transform: uppercase;
        font-size: 16px;
        position: relative;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        overflow: hidden;
        transition: all .4s;

        .text{
            position: relative;
            z-index: 4;
        }

        &:hover{
            color: #1d1d1d;
            background: $main-color;

        }
    }
}

.sidebar{

	.search-box{
		position: relative;

		input{
			color: #fff;
			padding: 15px;
			border: 1px solid rgba(255,255,255,.4);
			border-radius: 30px;
			width: 100%;
			background: transparent;

            &:focus{
                border-color: #fff;
            }
		}

		.icon{
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
		}
	}

	.widget{
		margin-top: 50px;

		.title-widget{
			margin-bottom: 30px;
            padding-top: 20px;
            border-top: 1px solid rgba(255,255,255,.08);
		}
		
		&.catogry{

			li{
				display: flex;
				font-size: 15px;
				margin-bottom: 7px;
                padding: 10px 20px;
                background: rgba(255,255,255,.02);
                border-radius: 30px;

				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}

		&.last-post-thum{

			.item{
				display: flex;
				margin-bottom: 30px;

				&:last-of-type{
					margin-bottom: 0;
				}

                &:hover{

                    .img{

                        a{

                            .date{
                                opacity: 1;
                            }
                        }
                    }
                }

				.img{
					width: 90px;
					height: 100px;
					border-radius: 5px;
					overflow: hidden;

					a{
						width: 100%;
						height: 100%;
                        position: relative;

                        .date{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            font-size: 14px;
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            background: rgba(0,0,0,.1);
                            backdrop-filter: blur(10px);
                            border-radius: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            z-index: 3;
                            opacity: 0;
                            transition: all .4s;

                            span{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translateX(-50%) translateY(-50%);
                                line-height: 1;
                            }
                        }
					}

					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.cont{
					padding-left: 25px;

					h6{
						font-size: 17px;
					}

					.tag{
                        font-size: 12px;
                        padding: 5px 15px;
                        border-radius: 30px;
                        background: rgba(255,255,255,.03);
                        margin-bottom: 10px;
                    }
				}
			}
		}

		&.tags{

			a{
                font-size: 14px;
				padding: 8px 15px;
				border-radius: 25px;
				background: rgba(255,255,255,.02);
				margin: 2px 0;
                transition: all .4s;

                &:hover{
                    background: $main-color;
                }
			}
		}
	}
}

.footer-sa {

    .call-action {

        h2 {
            font-size: 100px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1;
            position: relative;

            .buton {
                width: 210px;
                height: 210px;
                border-radius: 50%;
                background: $main-color;
                position: absolute;
                top: -80px;
                right: 8%;
                font-size: 32px;
                color: #212121;

                img {
                    width: 30px;
                }
            }
        }
    }

    .logo {
        width: 160px;
    }

    .contact-info {

        .item {
            margin-bottom: 50px;

            span {
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }

        .social-icon {

            a {
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                border: 1px solid rgba(255, 255, 255, .1);
                border-radius: 50%;
                font-size: 14px;
                transition: all .4s;

                &:hover {
                    border-color: #fff;
                }
            }
        }
    }

    .sub-footer {

        .copy {

            p {
                font-size: 14px;

                a {
                    color: #fff;
                }
            }
        }

        .links {
            width: 100%;

            a {
                font-size: 14px;
            }

            .active {
                color: #fff;
            }
        }
    }
}