/* --------------- Team pg --------------- */

.team-hed {

    .caption{

        h1 {
            font-size: 140px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .fit-img {
        height: 540px;
        position: relative;
        margin-top: -60px;
        z-index: -1;
    }
}

.team-pg {

    .item{

        .img{
            position: relative;
            margin-bottom: 30px;
            border-radius: 15px;
            overflow: hidden;

            .social-icon{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: max-content;
                text-align: center;
                padding: 15px;
                border-radius: 15px;
                background: rgba(255, 255, 255, .05);
                backdrop-filter: blur(30px) brightness(107%);
                opacity: 0;
                transition: all .4s;

                a{
                    padding: 0 15px;
                }
            }

            &:hover{

                .social-icon{
                    opacity: 1;
                    bottom: 30px;
                }
            }
        }

        .cont{

            h6{
                margin-bottom: 5px;
            }
        }
    }
}

.footer-sa {

    .call-action {

        h2 {
            font-size: 100px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1;
            position: relative;

            .buton {
                width: 210px;
                height: 210px;
                border-radius: 50%;
                background: $main-color;
                position: absolute;
                top: -80px;
                right: 8%;
                font-size: 32px;
                color: #212121;

                img {
                    width: 30px;
                }
            }
        }
    }

    .logo {
        width: 160px;
    }

    .contact-info {

        .item {
            margin-bottom: 50px;

            span {
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }

        .social-icon {

            a {
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                border: 1px solid rgba(255, 255, 255, .1);
                border-radius: 50%;
                font-size: 14px;
                transition: all .4s;

                &:hover {
                    border-color: #fff;
                }
            }
        }
    }

    .sub-footer {

        .copy {

            p {
                font-size: 14px;

                a {
                    color: #fff;
                }
            }
        }

        .links {
            width: 100%;

            a {
                font-size: 14px;
            }

            .active {
                color: #fff;
            }
        }
    }
}