/* ========= [ * inner pages ]  =========*/

:root {
    --bg-color: #18191b;
    --theme-color: #0e0f11;
    --main-color: #d0ff71;
}

$bg-color: var(--bg-color);
$sub-color: var(--sub-color);
$theme-color: var(--theme-color);
$main-color: var(--main-color);
$heading-color: var(--heading-color);
$p-color: var(--p-color);
$border-color: var(--border-color);
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;


// menu
@import 'menu';

// about
@import 'about';

// services
@import 'services';

// team
@import 'team';

// pricing
@import 'pricing';

// faqs
@import 'faqs';

// portfolios
@import 'portfolios';

// blogs
@import 'blogs';

// contact
@import 'contact';











body{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    background-color: $theme-color;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    margin: 0;
}

h1{
    font-size: 64px;
    letter-spacing: -3px;
}

h2{
    font-size: 48px;
    letter-spacing: -3px;
}

h3{
    font-size: 40px;
    letter-spacing: -2px;
}

h4{
    font-size: 36px;
    letter-spacing: -2px;
}

h5{
    font-size: 28px;
    letter-spacing: -1px;
}

h6{
    font-size: 22px;
}

.sub-bg{
    background: $bg-color;
}

.main-color{
    color: $main-color;
}

.light-bg{
    background: #fff;
    color: #0e0f11;

    .butn{

        &.butn-bord{
            border: 1px solid rgba(0,0,0,.3);

            img{
                filter: invert(0);
            }
    
            &:hover{
                background: $main-color;
                color: #212121;
            }
        }
    }
}

.sub-color{
    color: #a4a4a4;
}

.sub-head{
    font-size: 20px;
}

.title-font{
    font-family: "Six Caps", sans-serif;
    letter-spacing: normal;
}

p{
    font-size: 16px;
    font-weight: 400;
    color: #a4a4a4;
    margin: 0;
}

.sec-head{

    .sub-head{
        position: relative;
        padding-left: 25px;
        font-size: 18px;
        font-weight: 300;

        &:after{
            content: '';
            width: 7px;
            height: 7px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
}

.text-indent{
    text-indent: 20%;
}

.loader-wrap svg{
    fill: #1d1d1d;
}

.crv-butn{

    span{
        background: $main-color;
        color: #0e0f11;
    }

    .text{
        line-height: 40px;
        font-size: 15px;
        font-weight: 500;
        padding: 0 20px;
        border-radius: 30px;
        position: relative;

        &:after{
            content: '';
            width: 30px;
            height: 30px;
            background: $main-color;
            position: absolute;
            top: 5px;
            right: -15px;
            z-index: -1;
            transition: all .4s;
        }
    }

    .icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        margin-left: -10px;
        transition: all .5s;

        img{
            width: 15px;
            transition: all .5s;
        }
    }

    &:hover{

        .text{

            &:after{
                border-radius: 50%;
                top: calc(50% - 5px);
                right: 0;
                height: 10px;
            }
        }

        .icon{
            margin-left: 5px;

            img{
                transform: rotate(45deg);
            }
        }
    }
}

.butn{

    &.butn-bord{
        border: 1px solid rgba(255,255,255,.3);

        &:hover{
            background: #fff;
            color: #212121;
        }
    }
}

.icon.invert{

    img{
        filter: invert(1);
    }
}

.butn{

    .icon{
        width: 18px;
    }

    &:hover{

        .icon.invert{

            img{
                filter: invert(0);
            }
        }
    }
}


/* ====================== [ Start Responsive ] ====================== */

@media screen and (max-width: $desk-md-screen) {

    .sec-head{

        .sub-head{
            margin-bottom: 15px !important;
        }

        .text-indent{
            text-indent: 0;
        }

        .d-flex{
            display: block !important;
        }

        .ml-auto{
            margin: 15px 0 0 !important;
        }
    }

    .team-hed .caption h1{
        font-size: 100px;
    }

    .pricing-hed .caption h1,
    .contact-hed .caption h1{
        font-size: 90px;
    }

    .services-dm .item{
        display: block !important;
        position: relative;
    }

    .services-dm .item .title h2{
        font-size: 60px;
        letter-spacing: -2px;
        margin-bottom: 10px;
    }

    .services-dm .item .icon{
        position: absolute;
        top: 50%;
        right: 15px;
        margin-left: 30px;
        transform: translateY(-50%);
    }

    .services-cst .item .title {

        h2{
            font-size: 30px;
            letter-spacing: -1px;
        }

        .list{
            display: none;
        }
    }

    .services-cst .item .icon{
        width: 50px;
        height: 50px;
        line-height: 50px;

        img{
            width: 25px;
        }
    }

    .intro-iner .img-box{
        width: calc(100% - 100px);
        margin: 0 auto 80px;
    }

    .team-mp .item {

        .img{
            width: 280px;
        }

        h2{
            font-size: 30px;
            line-height: 1.2;
            letter-spacing: -1px;
        }
    }

    .work-hed2 .fit-img{
        height: 400px;
    }

    .footer-sa .call-action h2{
        font-size: 70px;

        .buton{
            display: none !important;
        }
    }
}

@media screen and (max-width: $tablet-sm-screen) {

    h1{
        letter-spacing: -1px;
    }
    
    h2{
        letter-spacing: -1px;
    }
    
    h3{
        font-size: 32px;
        letter-spacing: normal;
    }
    
    h4{
        font-size: 28px;
        letter-spacing: normal;
    }

    .about-hed,
    .serv-hed{

        h1{
            font-size: 30px;
            letter-spacing: normal;
        }
    }

    .team-hed .caption h1{
        font-size: 60px;
    }

    .team-hed .fit-img{
        margin-top: -30px;
    }
    
    .pricing-hed .caption h1,
    .contact-hed .caption h1{
        font-size: 40px;
    }

    .intro-iner .img-box{
        width: 100%;

        .states{
            left: 30px;
            bottom: 150px;
        }
    }

    .team-mp .item{
        padding: 30px;

        .d-flex{
            display: block !important;
        }

        .img{
            width: auto;
            height: auto;
            background: $theme-color;
        }

        .cont{
            padding: 30px 0 0;
            text-align: center;
        }

        .ml-auto{
            width: max-content;
            margin: auto !important;
        }

        .social-icon{
            padding: 0;
            margin-top: 30px;
        }
    }

    .testimonials-ds .qoute-icon {

        .text{
            width: 180px;
        }

        .icon{
            width: 80px;
        }
    }

    .testimonials-ds .item{
        
        h4{
            font-size: 25px;
            letter-spacing: normal;
        }
    }

    .faqs-pg{

        .sec-head{

            h2{
                font-size: 30px;
            }
        }
    }

    .faqs-pg .accordion-item .accordion-header button{
        font-size: 20px;
    }

    .contact-pg{

        .sec-head{

            h2{
                font-size: 30px;
            }
        }
    }

    .serv-hed2 .caption,
    .work-hed2{

        h1{
            font-size: 40px !important;
        }

        .list{
            
            ul{
                padding: 0;
            }
        }
    }

    .work-hed .caption h1{
        font-size: 45px;
    }

    .work-card .card-item .img{
        height: 500px;
    }

    .work-card .card-item h5{
        font-size: 35px;
    }

    .blog-hed .caption h1{
        font-size: 35px;
        text-indent: 0;
    }

    .post-header{

        h1{
            font-size: 30px !important;
        }

        .info{
            display: block !important;
        }
    }

    .main-post .post-qoute{
        padding: 30px !important;
    }

    .main-post .post-qoute h6:before{
        position: relative;
        left: 0;
    }

    .main-post .info-area{
        display: block !important;

        .tags{
            margin-bottom: 15px;
        }
    }

    .main-post .author-area{
        padding: 30px 15px;

        .flex{
            display: block !important;
        }

        .author-img{
            margin-bottom: 15px;
        }
    }

    .footer-sa .call-action h2{
        font-size: 35px;
        line-height: 1.4;
    }
}


